<style>

    ::ng-deep .cdk-overlay-dark-backdrop{
        background: rgba(244,219,214,1) !important;
    }

    ::ng-deep .mat-dialog-container{
        padding: 0px !important; 
    }

    ::ng-deep .mat-dialog-content{
        max-height: 73vh !important;
        margin: 0 0px;
        overflow: hidden !important;
    }


    ::ng-deep .mat-card-content{
        height: 470px;
       
    }

    .mat-card-headerCC{
        background-color:rgba(109,143,70, 1) !important;
        padding:5px !important;
        color: #fff;
        align-items: center;   
    }

    .mat-card-subtitleCC{
        background-color:rgba(109,143,70, 1) !important;
        padding:5px !important;
        color: #fff;
        margin-bottom: 0px !important;
    }

    ::ng-deep .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 40px !important;
        height: 40px !important;
        background-color: #6d8f46 !important;
       
    }

    ::ng-deep .carousel-control-prev-icon{
        width: 40px !important;
        height: 40px !important;
        background-color: #6d8f46 !important;
    }


    .h2Tit{
        display: block;
        position: relative;
        right: 5%;
        margin: 0 auto;
    }

    .p3Pre{
        line-height: normal;
    }

    .a3Prem{
        font-size: 12px;
    }

    .a3Prem:hover{
        text-decoration: none !important;
    }

/***************************** MOBIL ******************************************************/

    .mat-card{
        padding: 0px !important;
    }


    .imgCC1M{
        display: flex;
        position: relative;       
        width: 300px;
        height: 283px;
        margin: 0;
    }


    ::ng-deep a.right.carousel-control.carousel-control-next.ng-star-inserted{
        z-index: 0;
        /*margin: 0% -4% 0% 0% !important;*/
        width: 6%;
    } 

    ::ng-deep a.left.carousel-control.carousel-control-prev.ng-star-inserted{
        z-index: 0;
        /* margin: 0% 0% 0% -4% !important; */
        width: 6%;
    }

    body.theme-default .mat-card:not([class*=mat-elevation-z]){
        box-shadow: none !important;
    }

    .dvImg{
        display: block;
        position: relative;
        top: 16px;
        height:600px;
        overflow: auto;
    }


    .ifSus{
        width: 100%;
        height: 860px;
        display: block;
        position: relative;
        margin: 0 auto;
    }


</style>
    
 
<!-- <div mat-dialog-content> -->
    
    <carousel   [pauseOnFocus]="true" 
                [isAnimated]="true"            
                [noPause]="true"
    >


        <slide *ngFor="let p of menusRS.Platillos">
        <mat-card class="example-card">
            
            <mat-card-header class="mat-card-headerCC">
                <h2 class="h2Tit">Contacto</h2>
            </mat-card-header>
            
            <mat-card-subtitle class="mat-card-subtitleCC">
               
            </mat-card-subtitle>

            <mat-card-content>

                <div class="dvImg">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdA9N00vE4kf9ecVaMBqPz2RogcI4i_hrXS6tAmP3aq5-oUuQ/viewform?embedded=true" 
                        id="iFrameC"
                        frameborder="0" 
                        marginheight="0" 
                        marginwidth="0"
                        class="ifSus"
                        scrolling="no"
                        >
                        Cargando…
                    </iframe>
                </div>

            </mat-card-content>
        
        </mat-card>
        
        </slide>

    </carousel>

<!-- </div> -->
