<!-- MENU Desktop -->
<div class="page-layout blank p-24 isDesktop" fusePerfectScrollbar>

   <ng-container>

      <div  fxFlex="100" fxLayout="" fxLayoutAlign="start start">
        
         <mat-tab-group class="dvContent" (selectedTabChange)="closeSrv(tabRef.selectedIndex)" (click)="closeSrv(tabRef.selectedIndex)" #tabRef>
            
            <mat-tab label = "NUESTRA HISTORIA"  class="my-custom-class">
               <div class="dvMenusLnd">
                  <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                     <mat-grid-tile  [colspan]="2"
                     [rowspan]="2"
                     [style.background]="''">
                     <picture class="imgHP">
                        <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                           sizes="(max-width: 639px)" class="">
                        <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                           sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                        <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                           sizes="(min-width: 1024px)" class="">
                        <img src="assets/images/romeroYsal/HP/HP-Home.png" alt="My image" class="imgHP">
                     </picture>
                     </mat-grid-tile>
                  </mat-grid-list>
               </div>
            </mat-tab>
            
            <mat-tab label = "RITUAL DE LA HABITUAL"  class="first">
               <div class="dvMenusLnd">
                  <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                     <mat-grid-tile  [colspan]="2"
                     [rowspan]="2"
                     [style.background]="''">
                     <iframe width="700" height="370" 
                        src="https://www.youtube.com/embed/eopH60erc7k" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                        class="ifYou">
                     </iframe>
                     </mat-grid-tile>
                  </mat-grid-list>
               </div>
            </mat-tab>

            <mat-tab label = "CORAZÓN CONTENTO" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/CC/CC-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaCC[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaCC[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaCC[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaCC[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(3)">   
                     </mat-grid-tile>
                     <!-- <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"  class="g2">
                        <img mat-card-image src="assets/images/romeroYsal/CC/Platillos/pCC1.jpg" alt="prepCC" class="imgMs">   
                     </mat-grid-tile> -->
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#ce433b'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaCC[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCC(4)">   
                        
                           <img mat-card-image src="{{arrPlaCC[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCC(5)">  
                        </div>
                     </mat-grid-tile> 
                    

                     
                  </mat-grid-list>

               </div>
            </mat-tab>

            <mat-tab label = "MI MERO MOLE" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/MM/MM-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaMM[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaMM[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaMM[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaMM[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#876156'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaMM[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMM(4)">   
                        
                           <img mat-card-image src="{{arrPlaMM[6].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMM(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>

               </div>
            </mat-tab>
            
            <mat-tab label = "EL COMAL LE DIJO A LA OLLA" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/CDO/CDO-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaCDO[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaCDO[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaCDO[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaCDO[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#5a71ad'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaCDO[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCDO(4)">   
                        
                           <img mat-card-image src="{{arrPlaCDO[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCDO(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>

               </div>
            </mat-tab>
            
            <mat-tab label = "MEXICANO DE CORAZÓN" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/MC/MC-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaMC[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaMC[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaMC[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaMC[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#e4785c'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaMC[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMC(4)">   
                        
                           <img mat-card-image src="{{arrPlaMC[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMC(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>
               
               </div>
             
            </mat-tab>
            
            <mat-tab label = "EL SABOR DE LA HISTORIA" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/SH/SH-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaSH[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaSH[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaSH[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaSH[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#e16388'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaSH[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSH(4)">   
                        
                           <img mat-card-image src="{{arrPlaSH[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSH(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>
               
               </div>
            </mat-tab>
            
            <mat-tab label = "FRESCO COMO LECHUGA" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/FCL/FCL-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaFCL[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaFCL[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaFCL[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaFCL[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#6d8f46'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaFCL[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogFCL(4)">   
                        
                           <img mat-card-image src="{{arrPlaFCL[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogFCL(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>
               
               </div>
            </mat-tab>
            
            <mat-tab label = "EL MERO MERO" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/II/II-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaII[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaII[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaII[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaII[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#715c97'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaII[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogII(4)">   
                        
                           <img mat-card-image src="{{arrPlaII[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogII(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>
               
               </div>
            </mat-tab>
            
            <mat-tab label = "SIEMPRE EN DOMINGO" class="cc">
               <div class="dvMenusLnd">
                
                  <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                     
                     <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                        <img mat-card-image src="assets/images/romeroYsal/SD/SD-Home.png" alt="prepCC" class="imgBs2" >   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                        <img mat-card-image src="{{arrPlaSD[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(0)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                        <img mat-card-image src="{{arrPlaSD[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(1)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                        <img mat-card-image src="{{arrPlaSD[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(2)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                        <img mat-card-image src="{{arrPlaSD[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(3)">   
                     </mat-grid-tile>
                     <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#eaad30'"   class="g2">
                        <div class="dvImgN">
                           <img mat-card-image src="{{arrPlaSD[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSD(4)">   
                        
                           <img mat-card-image src="{{arrPlaSD[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSD(5)">  
                        </div>
                     </mat-grid-tile> 
                    
                  </mat-grid-list>
               
               </div>
            </mat-tab>
            
            <mat-tab label = "CONTACTO"  class="first">
               <div class="mat-elevation-z4">
                  <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                     <mat-grid-tile  [colspan]="2"
                     [rowspan]="2"
                     [style.background]="''">
                     <picture class="imgHP">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(max-width: 639px)" class="">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(min-width: 1024px)" class="">
                        <img src="assets/images/romeroYsal/RH/RH-Home.png" alt="My image" class="imgHP">
                     </picture>
                     </mat-grid-tile>
                  </mat-grid-list>
               </div>
            </mat-tab>
            
            <mat-tab label = "TIENDA"  class="first">
               <div class="mat-elevation-z4">
                  <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                     <mat-grid-tile  [colspan]="2"
                     [rowspan]="2"
                     [style.background]="''">
                     <picture class="imgHP">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(max-width: 639px)" class="">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                        <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                           sizes="(min-width: 1024px)" class="">
                        <img src="assets/images/romeroYsal/RH/RH-Home.png" alt="My image" class="imgHP">
                     </picture>
                     </mat-grid-tile>
                  </mat-grid-list>
               </div>
            </mat-tab>

         </mat-tab-group>

         <div class="theme-options-panel dvSocial" fusePerfectScrollbar  *ngIf="isSocNet">
      
            <h3 class="mt-16 mb-8"></h3>
            <a href="https://bit.ly/3oBwC33">
               <picture class="" >
                  <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                     sizes="(max-width: 639px)" class="" >
                  <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="" >
                  <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="" >
                  <img src="assets/images/romeroYsal/RS/YOUTUBE-20.png" alt="My image" class="socialImg" >
               </picture>
            </a>
      
            <h3 class="mt-16 mb-8"></h3>
            <a href="https://www.facebook.com/RomeroySalMx/">
               <picture class="">
                  <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                     sizes="(max-width: 639px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="">
                  <img src="assets/images/romeroYsal/RS/FACEBOOK-20.png" alt="My image" class="socialImg" >
               </picture>
            </a>
            
            <h3 class="mt-16 mb-8"></h3>
            <a href="https://www.instagram.com/romeroysalmx/">
               <picture class="">
                  <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                     sizes="(max-width: 639px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="">
                  <img src="assets/images/romeroYsal/RS/INSTAGRAM-20.png" alt="My image" class="socialImg" href="https://www.instagram.com/romeroysalmx/">
               </picture>
            </a>
            
            <h3 class="mt-16 mb-8"></h3>
            <a href="https://www.facebook.com/RomeroySalMx/">
               <picture class="">
                  <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                     sizes="(max-width: 639px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="">
                  <img src="assets/images/romeroYsal/RS/PINTEREST-20.png" alt="My image" class="socialImg" >
               </picture>
            </a>

            <h3 class="mt-16 mb-8"></h3>
            <a href="https://www.integrate.org.mx">
               <picture class="">
                  <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                     sizes="(max-width: 639px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                  <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="">
                  <img src="assets/images/romeroYsal/RS/INTEGRATE.png" alt="My image" class="socialImg" >
               </picture>
            </a>
      
         </div>

      </div>

   </ng-container>

   <div class="theme-options-panel dvLv2Men" fusePerfectScrollbar>

      <div id="inner">
         
         <div class="child" (click)="GoSuscribete()">
            <p>
               <!-- <a href="/Suscripcion" class="achild">Suscribete</a> -->
               <a  class="achild" >Suscríbete</a>
            </p>
         </div>
         
         <div class="child3" (click)="GoServicios()">
            <p>
               <!-- <a href="/Servicios" class="achild2">Servicios</a> -->
               <a  class="achild2">Servicios</a>
            </p>
         </div>
         
         <div class="child2" (click)="GoDescargables()">
            <p>
               <!-- <a href="/Descargables" class="achild">Descargables</a> -->
               <a  class="achild">Descargables</a>
            </p>
         </div>
      
      </div>
   </div>
  
  
</div> 







<!-- ************************************************************************************  -->
<!-- MENU Mobile -->
<div class="p-0 isMobile">

   <div class="toolBar">

      <div class="matToolBar">

         <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center" >

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center" >

               <nav id="mbMenu2" role="navigation">
            
                  <div id="menuToggle">
                     
                     <input #chkMenu id="chkMenu" type="checkbox" />
                     
                     <span></span>
                     <span></span>
                     <span></span>
                     
                     <ul id="menu">
                        <a href="#nh"  (click)="closeMenu()"><li>Nuestra Historia</li></a>
                        <a href="#rh"  (click)="closeMenu()"><li>Ritual de lo Habitual</li></a>
                        <a href="#cc"  (click)="closeMenu()"><li>Corazón Contento</li></a>
                        <a href="#mm"  (click)="closeMenu()"><li>Mi Mero Mole</li></a>
                        <a href="#cdo" (click)="closeMenu()"><li>El Comal le Dijo a la Olla</li></a>
                        <a href="#mc"  (click)="closeMenu()"><li>Mexicano de Corazón</li></a>
                        <a href="#sh"  (click)="closeMenu()"><li>El Sabor de la Historia</li></a>
                        <a href="#fcl" (click)="closeMenu()"><li>Fresco Como Lechuga</li></a>
                        <a href="#ii"  (click)="closeMenu()"><li>Ingrediente Increíble</li></a>
                        <a href="#sd"  (click)="closeMenu()"><li>Siempre en Domingo</li></a>
                        <a href="#co"  (click)="closeMenu()"><li>Contacto</li></a>
                        <a href="#ti"  (click)="closeMenu()"><li>Tienda</li></a>
                        <a href="#su"  (click)="closeMenu()"><li>Suscríbete</li></a>
                        <a href="#de"  (click)="closeMenu()"><li>Descargables</li></a>
                        <a href="#se"  (click)="closeMenu()"><li>Servicios</li></a>
                     </ul>
         
                  </div>
         
               </nav>
               
               <header class="headerMb">

                  <ul>

                     <li class="liLogo1">
                     </li>

                     <li class="liChef">
                     </li>
    
                     <li class="liBrand">
                           <picture class="">
                              <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                                 sizes="(max-width: 639px)" class="">
                              <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                                 sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                              <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                                 sizes="(min-width: 1024px)" class="">
                              <img src="assets/images/romeroYsal/ROMEROYSAL.png" alt="My image" class="">
                           </picture>
                     </li>
      
                     <li class="liSlogan">
                     </li>
      
                     <li class="liLogo2">

                           <picture class="logo2">
                              <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                                 sizes="(max-width: 639px)" class="picLogo2">
                              <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                                 sizes="(min-width: 640px) and (max-width: 1023px)" class="picLogo2">
                              <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                                 sizes="(min-width: 1024px)" class="picLogo">
                              <img src="assets/images/romeroYsal/Header/Logo2.png" alt="My image" class="picLogo2">
                           </picture> 
                     </li>
                     
                  </ul>

               </header>

            </div>
         
         </div>

      </div>

   </div>

</div>


<div class="page-layout fullwidth dvContentMb isMobile" fxLayout="column">

   <!-- Nuestra Historia -->
   <div id="nh" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum" (click)="openDialogNHm()">
         <img src="assets/images/romeroYsal/V/Nuestrahistoria.png">
         <!-- <div class="h1 h1T">Nuestra Historia</div> -->
      </div>

      <!-- <div class="p-16">
          <div class="h1">Contacto</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

   <!-- Ritual de lo Habitual -->
   <div id="rh" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum">

         <a href="https://www.youtube.com/embed/eopH60erc7k">
            <img src="assets/images/romeroYsal/V/Ritual.png">
         </a>
         <!-- <div class="h1 h1T"></div> -->
         <!-- <iframe width="200" height="150" 
            src="https://www.youtube.com/embed/eopH60erc7k" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            class="ifYou">
         </iframe> -->
      </div>

      <!-- <div class="p-16">
          <div class="h1">Contacto</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

   <!-- CC -->
   <div id="cc" class="fuse-card CrdMenu cc isMobile">

      <!-- <img src="assets/images/romeroYsal/CC/CC-Home-Mb.png"> -->
      
      <div class="p-16 dvMenuCC" (click)="openDialogCCm()">

      </div>

      <div class="p-16">
          <div class="h1">Corazón Contento</div>
          <div class="h4 secondary-text">Entradas y Postres</div>
      </div>
  
   </div>

   <!-- MM -->
   <div id="mm" class="fuse-card CrdMenu mm isMobile">

      <!-- <img src="assets/images/romeroYsal/MM/MM-Home-Mb.png"> -->
      <div class="p-16 dvMenuMM" (click)="openDialogMMm()">

      </div>

      <div class="p-16">
          <div class="h1">Mi Mero Mole</div>
          <div class="h4 secondary-text">Platillos Tipicos Mexicanos</div>
      </div>
  
   </div>

   <!-- CDO -->
   <div id="cdo" class="fuse-card CrdMenu cdo isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuCDO" (click)="openDialogCDOm()">

      </div>

      <div class="p-16">
          <div class="h1">El Comal le Dijo a la Olla</div>
          <div class="h4 secondary-text">Cocina Contemporanea</div>
      </div>
  
   </div>

   <!-- MC -->
   <div id="mc" class="fuse-card CrdMenu mc isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuMC" (click)="openDialogMCm()">

      </div>

      <div class="p-16">
          <div class="h1">Mexicano de Corazón</div>
          <div class="h4 secondary-text">Platos Sofisticados</div>
      </div>
  
   </div>

   <!-- SH -->
   <div id="sh" class="fuse-card CrdMenu sh isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuSH" (click)="openDialogSHm()">

      </div>

      <div class="p-16">
          <div class="h1">El Sabor de la Historia</div>
          <div class="h4 secondary-text">Platillos con Historia</div>
      </div>
  
   </div>

   <!-- FCL -->
   <div id="fcl" class="fuse-card CrdMenu fcl isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuFCL" (click)="openDialogFCLm()">

      </div>

      <div class="p-16">
          <div class="h1">Fresco Como Lechuga</div>
          <div class="h4 secondary-text">Platillos con Historia</div>
      </div>
  
   </div>

   <!-- II -->
   <div id="ii" class="fuse-card CrdMenu ii isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuII" (click)="openDialogIIm()">

      </div>

      <div class="p-16">
          <div class="h1">El Mero Mero</div>
          <div class="h4 secondary-text">Platillos con Historia</div>
      </div>
  
   </div>

   <!-- SD -->
   <div id="sd" class="fuse-card CrdMenu sd isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenuSD" (click)="openDialogSDm()">

      </div>

      <div class="p-16">
          <div class="h1">Siempre en Domingo</div>
          <div class="h4 secondary-text">Platillos con Historia</div>
      </div>
  
   </div>

   <!-- Contacto -->
   <div id="co" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum" (click)="openDialogCTm()">
         <img src="assets/images/romeroYsal/V/Contacto.png">
      </div>

      <!-- <div class="p-16">
          <div class="h1">Contacto</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

   <!-- Tienda -->
   <div id="ti" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum">
         <img src="assets/images/romeroYsal/V/Tienda.png">
         <div class="h1 h1T">Proximamente</div>
      </div>

      <!-- <div class="p-16">
          <div class="h1">Tienda</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

   <!-- Suscribete -->
   <div id="su" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum" (click)="openDialogSUm()">
         <img src="assets/images/romeroYsal/V/Suscribete.png">
      </div>

      <!-- <div class="p-16">
          <div class="h1">Contacto</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

    <!-- Descargables -->
    <div id="de" class="fuse-card CrdMenu CrdMenuC isMobile">

      <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->
  
      <div class="dvMenum" (click)="openDialogDSm()">
         <img src="assets/images/romeroYsal/V/Descargables.png">
      </div>

      <!-- <div class="p-16">
          <div class="h1">Contacto</div>
          <div class="h4 secondary-text"></div>
      </div> -->
  
   </div>

   <!-- Servicios -->
   <div id="se" class="fuse-card CrdMenu CrdMenuC isMobile">

   <!-- <img src="assets/images/romeroYsal/CDO/CDO-Home-Mb.png"> -->

   <div class="dvMenum" (click)="openDialogSRm()">
      <img src="assets/images/romeroYsal/V/Servicios.png">
   </div>

   <!-- <div class="p-16">
         <div class="h1">Contacto</div>
         <div class="h4 secondary-text"></div>
   </div> -->

   </div>

</div> 


