
<!-- <nav role="navigation">

    <div id="menuToggle">
       
       <input type="checkbox" />
       
       <span></span>
       <span></span>
       <span></span>
       
       <ul id="menu">
          <a href="#"><li>Home</li></a>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Info</li></a>
          <a href="#"><li>Contact</li></a>
          <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
       </ul>
    
    </div>
    
</nav> -->


<div class="p-0 mat-elevation-z1">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
        
        <header>

            <ul>

                <li class="liLogo1" (click)="routeLink()">
                    <picture class="logo1" >
                        <source srcset="assets/images/romeroYsal/Header/Logo1.png" type="image/webp"
                            sizes="(max-width: 639px)" class="picLogo">
                        <source srcset="assets/images/romeroYsal/Header/Logo1.png" type="image/webp"
                            sizes="(min-width: 640px) and (max-width: 1023px)" class="picLogo">
                        <source srcset="assets/images/romeroYsal/Header/Logo1.png" type="image/webp"
                            sizes="(min-width: 1024px)" class="picLogo">
                        <a>
                            <img src="assets/images/romeroYsal/Header/Logo1.png" alt="My image" class="picLogo" (click)="routeLink()" >
                        </a>
                    </picture>
                    <hr width="0" size="1500" class="hrLogo1">
                </li>

                <li class="liChef"> 
                    <a class="h-drop signChef" >
                        Chef Romero Peralta
                    </a>
                </li>

                <li class="liBrand" >
                    <picture class="">
                        <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                            sizes="(max-width: 639px)" class="">
                        <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                            sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                        <source srcset="assets/images/romeroYsal/ROMEROYSAL.png" type="image/webp"
                            sizes="(min-width: 1024px)" class="">
                        <img src="assets/images/romeroYsal/ROMEROYSAL.png" alt="My image" class="">
                    </picture>
                </li>

                <li class="liSlogan">
                    <a class="h-drop signChef2">
                        Celebrando la Gastronomia Mexicana
                    </a>
                    <picture class="logo1">
                        <source srcset="assets/images/romeroYsal/Header/Mano_sal.gif" type="image/webp"
                            sizes="(max-width: 639px)" class="picLogo3">
                        <source srcset="assets/images/romeroYsal/Header/Mano_sal.gif" type="image/webp"
                            sizes="(min-width: 640px) and (max-width: 1023px)" class="picLogo3">
                        <source srcset="assets/images/romeroYsal/Header/Mano_sal.gif" type="image/webp"
                            sizes="(min-width: 1024px)" class="picLogo">
                        <img src="assets/images/romeroYsal/Header/Mano_sal.gif" alt="My image" class="picLogo3">
                    </picture>
                </li>

                <li class="liLogo2" (click)="routeLink()">
                    <hr width="0" size="1500" class="hrLogo1">
                    <picture class="logo2">
                        <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                            sizes="(max-width: 639px)" class="picLogo2">
                        <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                            sizes="(min-width: 640px) and (max-width: 1023px)" class="picLogo2">
                        <source srcset="assets/images/romeroYsal/Header/Logo2.png" type="image/webp"
                            sizes="(min-width: 1024px)" class="picLogo">
                        <img src="assets/images/romeroYsal/Header/Logo2.png" alt="My image" class="picLogo2">
                    </picture>
                </li>
                
            </ul>

        </header>   
            
    </div>

</div>
