quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
}


.face{
    font-size: 40px;
    color: #1877f2; 
}

.twt{
    font-size: 40px;
    color: #1da1f2;
}

.insta{
    font-size: 40px;
    color: #da2e78;
}