// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

html{
    background-color: rgb(244,219,214) !important;
    margin: 2% 2% 0% 2% !important;
    // max-height: 100%; 
    // min-height: 100%;
}



/*---------------------------------------------------------------------------------------*/
/*---------------------------  Dekstop   ------------------------------------------------*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    body{
        background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
    
}


  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

    body{
        background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
}



/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    
  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }
}

/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
  
  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }
}

/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {

body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }

}


/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
  
  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }

}


// AQUI IPR
/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {

  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }
}


/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
  
  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }

}



@media only screen and (min-width : 4095px) and (max-width : 5120px) {

  body{
      background: url(assets/images/romeroYsal/FondoDs.jpg) no-repeat center center fixed !important;
      max-width: 100% !important;
  }
  
}




























/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
        background: url(assets/images/romeroYsal/FondoMb.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
 

}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
        background: url(assets/images/romeroYsal/FondoMb.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
 

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    body{
        background: url(assets/images/romeroYsal/FondoMb.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }

}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    body{
        background: url(assets/images/romeroYsal/FondoMb.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
 
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    body{
        background: url(assets/images/romeroYsal/FondoMb.jpg) no-repeat center center fixed !important;
        max-width: 100% !important;
    }
}


