

  <!-- MENU Desktop -->
  <div class="page-layout blank p-24 isDesktop" fusePerfectScrollbar>

   <ng-container>
     
     <div  fxFlex="100" fxLayout="" fxLayoutAlign="start start">
       
       <mat-tab-group class="dvContent" (selectedTabChange)="closeSrv(tabRef.selectedIndex)" (click)="closeSrv(tabRef.selectedIndex)" #tabRef>     
        
         <mat-tab label = "NUESTRA HISTORIA"  class="my-custom-class">
           
           <div class="dvMenusLnd" *ngIf="!isSrv">
              <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                 <mat-grid-tile  [colspan]="2"
                 [rowspan]="2"
                 [style.background]="''">
                 <picture class="imgHP">
                    <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                       sizes="(max-width: 639px)" class="">
                    <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                       sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                    <source srcset="assets/images/romeroYsal/HP/HP-Home.png" type="image/webp"
                       sizes="(min-width: 1024px)" class="">
                    <img src="assets/images/romeroYsal/HP/HP-Home.png" alt="My image" class="imgHP">
                 </picture>
                 </mat-grid-tile>
              </mat-grid-list>
           </div>
        </mat-tab>
        
        <mat-tab label = "RITUAL DE LA HABITUAL"  class="first">
           <div class="dvMenusLnd">
              <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
                 <mat-grid-tile  [colspan]="2"
                 [rowspan]="2"
                 [style.background]="''">
                 <iframe width="700" height="370" 
                    src="https://www.youtube.com/embed/eopH60erc7k" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                    class="ifYou">
                 </iframe>
                 </mat-grid-tile>
              </mat-grid-list>
           </div>
        </mat-tab>

        <mat-tab label = "CORAZÓN CONTENTO" class="cc">
           <div class="dvMenusLnd">
            
              <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
                 
                 <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                    <img mat-card-image src="assets/images/romeroYsal/CC/CC-Home.png" alt="prepCC" class="imgBs2" >   
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                    <img mat-card-image src="{{arrPlaCC[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(0)">   
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                    <img mat-card-image src="{{arrPlaCC[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(1)">   
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                    <img mat-card-image src="{{arrPlaCC[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(2)">   
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                    <img mat-card-image src="{{arrPlaCC[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCC(3)">   
                 </mat-grid-tile>
                 <!-- <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"  class="g2">
                    <img mat-card-image src="assets/images/romeroYsal/CC/Platillos/pCC1.jpg" alt="prepCC" class="imgMs">   
                 </mat-grid-tile> -->
                 <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#ce433b'"   class="g2">
                    <div class="dvImgN">
                       <img mat-card-image src="{{arrPlaCC[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCC(4)">   
                    
                       <img mat-card-image src="{{arrPlaCC[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCC(5)">  
                    </div>
                 </mat-grid-tile> 
                

                 
              </mat-grid-list>

           </div>
        </mat-tab>




     <mat-tab label = "MI MERO MOLE" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/MM/MM-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaMM[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaMM[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaMM[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaMM[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMM(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#876156'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaMM[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMM(4)">   
                  
                     <img mat-card-image src="{{arrPlaMM[6].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMM(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>

         </div>
      </mat-tab>
      
      <mat-tab label = "EL COMAL LE DIJO A LA OLLA" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/CDO/CDO-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaCDO[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaCDO[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaCDO[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaCDO[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogCDO(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#5a71ad'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaCDO[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCDO(4)">   
                  
                     <img mat-card-image src="{{arrPlaCDO[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogCDO(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>

         </div>
      </mat-tab>
      
      <mat-tab label = "MEXICANO DE CORAZÓN" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/MC/MC-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaMC[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaMC[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaMC[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaMC[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogMC(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#e4785c'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaMC[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMC(4)">   
                  
                     <img mat-card-image src="{{arrPlaMC[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogMC(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>
         
         </div>
       
      </mat-tab>
      
      <mat-tab label = "EL SABOR DE LA HISTORIA" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/SH/SH-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaSH[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaSH[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaSH[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaSH[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSH(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#e16388'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaSH[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSH(4)">   
                  
                     <img mat-card-image src="{{arrPlaSH[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSH(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>
         
         </div>
      </mat-tab>
      
      <mat-tab label = "FRESCO COMO LECHUGA" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/FCL/FCL-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaFCL[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaFCL[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaFCL[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaFCL[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogFCL(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#6d8f46'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaFCL[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogFCL(4)">   
                  
                     <img mat-card-image src="{{arrPlaFCL[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogFCL(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>
         
         </div>
      </mat-tab>
      
      <mat-tab label = "EL MERO MERO" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/II/II-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaII[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaII[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaII[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaII[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogII(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#715c97'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaII[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogII(4)">   
                  
                     <img mat-card-image src="{{arrPlaII[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogII(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>
         
         </div>
      </mat-tab>
      
      <mat-tab label = "SIEMPRE EN DOMINGO" class="cc">
         <div class="dvMenusLnd">
          
            <mat-grid-list cols="7" rowHeight="250px" [gutterSize]="'0px'" >
               
               <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'"   class="g1" >
                  <img mat-card-image src="assets/images/romeroYsal/SD/SD-Home.png" alt="prepCC" class="imgBs2" >   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2" >
                  <img mat-card-image src="{{arrPlaSD[0].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(0)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightpink'"   class="g2">
                  <img mat-card-image src="{{arrPlaSD[1].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(1)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightblue'"   class="g2">
                  <img mat-card-image src="{{arrPlaSD[2].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(2)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'lightgreen'"  class="g2">
                  <img mat-card-image src="{{arrPlaSD[3].ImgPla}}" alt="prepCC" class="imgMs" (click)="openDialogSD(3)">   
               </mat-grid-tile>
               <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#eaad30'"   class="g2">
                  <div class="dvImgN">
                     <img mat-card-image src="{{arrPlaSD[4].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSD(4)">   
                  
                     <img mat-card-image src="{{arrPlaSD[5].ImgPla}}" alt="prepCC" class="imgNs" (click)="openDialogSD(5)">  
                  </div>
               </mat-grid-tile> 
              
            </mat-grid-list>
         
         </div>
      </mat-tab>
      
          
       <mat-tab label = "CONTACTO"  class="first">
         <div class="mat-elevation-z4">
         </div>
       </mat-tab>
       
       <mat-tab label = "TIENDA"  class="first">
         <div class="mat-elevation-z4">
             <mat-grid-list cols="2" rowHeight="200px" gutterSize="0px">
               <mat-grid-tile  [colspan]="2"
               [rowspan]="2"
               [style.background]="''">
               <picture class="imgHP">
                   <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                     sizes="(max-width: 639px)" class="">
                   <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                     sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                   <source srcset="assets/images/romeroYsal/RH/RH-Home.png" type="image/webp"
                     sizes="(min-width: 1024px)" class="">
                   <img src="assets/images/romeroYsal/RH/RH-Home.png" alt="My image" class="imgHP">
               </picture>
               </mat-grid-tile>
             </mat-grid-list>
         </div>
       </mat-tab>


       </mat-tab-group>
 
       <div class="theme-options-panel dvSocial" fusePerfectScrollbar  *ngIf="isSocNet">
     
           <h3 class="mt-16 mb-8"></h3>
           <a href="https://bit.ly/3oBwC33">
             <picture class="" >
                 <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                   sizes="(max-width: 639px)" class="" >
                 <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                   sizes="(min-width: 640px) and (max-width: 1023px)" class="" >
                 <source srcset="assets/images/romeroYsal/RS/YOUTUBE-20.png" type="image/webp"
                   sizes="(min-width: 1024px)" class="" >
                 <img src="assets/images/romeroYsal/RS/YOUTUBE-20.png" alt="My image" class="socialImg" >
             </picture>
           </a>
     
           <h3 class="mt-16 mb-8"></h3>
           <a href="https://www.facebook.com/RomeroySalMx/">
             <picture class="">
                 <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                   sizes="(max-width: 639px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                   sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/FACEBOOK-20.png" type="image/webp"
                   sizes="(min-width: 1024px)" class="">
                 <img src="assets/images/romeroYsal/RS/FACEBOOK-20.png" alt="My image" class="socialImg" >
             </picture>
           </a>
           
           <h3 class="mt-16 mb-8"></h3>
           <a href="https://www.instagram.com/romeroysalmx/">
             <picture class="">
                 <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                   sizes="(max-width: 639px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                   sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/INSTAGRAM-20.png" type="image/webp"
                   sizes="(min-width: 1024px)" class="">
                 <img src="assets/images/romeroYsal/RS/INSTAGRAM-20.png" alt="My image" class="socialImg" href="https://www.instagram.com/romeroysalmx/">
             </picture>
           </a>
           
           <h3 class="mt-16 mb-8"></h3>
           <a href="https://www.facebook.com/RomeroySalMx/">
             <picture class="">
                 <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                   sizes="(max-width: 639px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                   sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/PINTEREST-20.png" type="image/webp"
                   sizes="(min-width: 1024px)" class="">
                 <img src="assets/images/romeroYsal/RS/PINTEREST-20.png" alt="My image" class="socialImg" >
             </picture>
           </a>
 
           <h3 class="mt-16 mb-8"></h3>
           <a href="https://www.integrate.org.mx">
             <picture class="">
                 <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                   sizes="(max-width: 639px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                   sizes="(min-width: 640px) and (max-width: 1023px)" class="">
                 <source srcset="assets/images/romeroYsal/RS/INTEGRATE.png" type="image/webp"
                   sizes="(min-width: 1024px)" class="">
                 <img src="assets/images/romeroYsal/RS/INTEGRATE.png" alt="My image" class="socialImg" >
             </picture>
           </a>
     
       </div>
 
     
     </div>
 
   </ng-container>
 
   <div class="theme-options-panel dvLv2Men" fusePerfectScrollbar>
 
       <div id="inner">
 
         <div class="child">
             <p>
               <a href="/Suscripcion" class="achild">Suscríbete</a>
             </p>
         </div>
         <div class="child3">
             <p>
               <a href="/Servicios" class="achild2">Servicios</a>
             </p>
         </div>
         <div class="child2">
             <p>
               <a href="/Descargables" class="achild">Descargables</a>
             </p>
         </div>
       
         <div class="dvTit" *ngIf="isSrv">
            <img src="assets/images/romeroYsal/V/Servicios.png" alt="My image" class="imgtit">
         </div>
   
         <div class="dvSrv" *ngIf="isSrv">
            <ng-image-slider #navSrv
            [images]="imageObject"
            [infinite]="true"
            [imageSize]="{width: '40%', height: 300}"
            [autoSlide]="1"
            [animationSpeed]="2"
            [imagePopup] = "false"
            [showArrow] = "false"
            slideImage="1" class="dvSld">
         </ng-image-slider>
         </div>
  
       </div>

   </div>
  
 </div> 
 
 
 
 
 
 